{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <section class="loading_form">

                    {{ translated_text }}

                    <div>
                        <h4>
                        {% trans %}
                            My contacts
                        {% endtrans %}
                        </h4>
                        <div class="hline-w"></div>
                        <p style="color: white">
                            {% trans %}
                                By email
                            {% endtrans %}
                            <br/>
                        </p>

                    </div>

                </section>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}

    <style>
        .loading_form{
            border: 2px solid #000000;
            border-radius: 10px;
            padding: 5px;
            background-color: #384452;
            margin: 30px;
            color: white;
        }
    </style>

{% endblock %}